<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">

    <%- style %>
</head>

<body>
    <%- include('_header'); %>
        <% if(locals.flash.success && locals.flash.success.length>0){ %>
            <h3>
                <%=locals.flash.success%>
            </h3>
            <%}%>
                <main id="layout-main">
                    <%- body %>
                </main>
                <%- include('_footer'); %>
                    <%- script %>
</body>

</html>