<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/chat_box.css">

    <%- style %>
</head>

<body>
    <%- include('_header'); %>



        <main id="layout-main">
            <%- body %>
        </main>
        <%- include('_footer'); %>

            <%- script %>

                <script>
                    <% if(locals.flash.success && locals.flash.success.length>0){ %>
                    new Noty({
                        theme: 'relax',
                        layout: 'topRight',
                        text: '<%=locals.flash.success%>',
                        type: 'success ',
                        timeout: 1500
                    }).show();
                    <%}%>
                    <% if(locals.flash.error && locals.flash.error.length>0){ %>
                    new Noty({
                        theme: 'relax',
                        layout: 'topRight',
                        text: '<%=locals.flash.error%>',
                        type: 'success ',
                        timeout: 1500
                    }).show();
                    <%}%>
                </script>
                <script src="/js/home_post_comments.js"></script>
                <script src="/js/home_posts.js"></script>
                <script src="/js/noty.js"></script>

</body>

</html>