<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    Codeial /
    <%= title %>
</h1>
<p>
    <!-- <%=user.name%>
        <%=user.email%> -->
    <img src="<%=profileToView.avatar%>" alt=" <%=profileToView.name%> Profile photo" height="100px" width="200px">
    <h2>
        <%=profileToView.name%>
    </h2>

    <%=profileToView.email%>

</p>

<% if(profileToView.id == locals.user.id){ %>
    <h1>Update you profile here</h1>
    <!-- <form action="/user/update/<%=profileToView.id%>" method="GET"> -->
    <form action="/user/update/<%=profileToView.id%>" enctype="multipart/form-data" method="POST">
        <input type=" text " value="<%=profileToView.name%>" name="name" required>
        <input type="email" value="<%=profileToView.email%>" name="email" required>
        <input type="file" name="avatar" id="" placeholder="Upload Avatar">
        <input type="submit" value="Update">
    </form>
    <% } %>